<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>FB Credibility</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" type="text/css" />
</head>
<body id="page3">
<!-- START PAGE SOURCE -->
<div id="header" class="small">
  <div class="container">
    <div class="logo-box">
      <h1><a href="/"><strong>Android</strong></a></h1>
      <h2>การเขียนโปรแกรมบน android</h2>
    </div>
    <img src="{{ url_for('static', filename = 'images/small-model.png') }}" alt="" class="png extra-img"/> </div>
</div>
<div id="content">
  <div class="container">
    <div class="indent">
      <div class="wrapper">
        <div class="mainContent">
        	<div>บทเรียนสำหรับการเขียนโปรแกรมบน android</div>
        	<a href='https://drive.google.com/open?id=1R2xBjYPlQ7bxjtSBaa7ivTMWG9c2-W1TX6dKE75I9RM&authuser=0'>
        		1. การใช้งาน Android studio
        	</a><p/>
        	<a href='https://docs.google.com/presentation/d/1Kr08sJfsnB772lvMpC4-Zi1m_OKW31EPB2cBrGcQ4UI/edit?usp=sharing'>
            2. พื้นการพัฒนาโปรแกรมบน Android
          </a><p/>
          <a href='https://drive.google.com/open?id=1uaW6l-upp_A1oYKN--uy9uqPns0moVi6NZo4yeN_AFg&authuser=0'>
            3. การเขียนโปรแกรมเพื่อใช้งาน internet บน Android
          </a><p/>
          <a href='https://docs.google.com/presentation/d/1iL3_zodJ4ulqqOp4V_DSmX7B8_iJsygvs2j0OJnC1ys/'>
            4. android layout
          </a>      
        </div>
        <div class="aside">
          <div class="box1">
            <div class="top">
              <div class="bottom">
                <div class="inner">
                  Team project
                  <ul>
					<div>ให้นักศึกษาเลือก project โดยหนึ่งโปรเจค ให้มีนักศึกษาไม่เกิน 5 คน หากกลุ่มไหนเลือก project และให้ไป comment ที่ slide</div>
					<div>* จะเลือกบ้างกลุ่มนำไปขึ้น Android store ซึ่งกลุ่มนั้นจะได้คะแนนเพิ่ม 10 คะแนน</div>
                  </ul>
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=1lMuOJ3Ra7oWuDh99NTSvo2J7-7RnoHnJDGehqwaAp3Y&authuser=0">1. Share parking</a></div>
                  </ul>
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=1NsOGklTGsOF49-cneahrjLNIGTbNUt7PGgxPYjIQag0&authuser=0">2. Broad messageg</a></div>
                  </ul>
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=1F2OTAkfHa-GZBC3FUJqIbu2hB-QWJeIlKs3S3rshna0&authuser=0">3. สบอยล์หนัง</a></div>
                  </ul>               
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=17o2XlH8p-9nAdiL4r1W5vpIG0tw1xiSAO-m3xoc6DfE&authuser=0">4. เตะบอลกัน</a></div>
                  </ul>
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=1gr6jfIi3PJrgOY2erEaL5rTLfa_nrP1jGHMWYxELQ-U&authuser=0">5. แนะนำร้านตัดผม</a></div>
                  </ul>
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=1gpGbqXUvQ6C4MGojFI1z8xum91Ld2WmoyDLLVHcoYFI&authuser=0">6. สังคมการปลูกข้าว</a></div>
                  </ul>   
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=14VmU0eCZBA9wTQWkPHayQRdWpiEQzI4jx120_Q5smbI&authuser=0">7. บันทึกทางการเงิน</a></div>
                  </ul>
                  <ul>
                  	<div><a href="https://drive.google.com/open?id=1ObuerH5xsn7cZcEMoGp-iWOkpr5zNXJI35AbAdu_aSA&authuser=0">8. เล่นบาสกัน</a></div>
                  </ul>                                                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="inside">
      <div class="wrapper">
        <div class="fleft"><a href="http://www.templatemonster.com/">Website template</a> designed by TemplateMonster.com&nbsp; &nbsp; &nbsp; <a href="http://www.templates.com/product/3d-models/">3D Models</a> provided by Templates.com</div>
        <div class="fright">Copyright - Type in your name here</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">Cufon.now();</script>
<!-- END PAGE SOURCE -->
</body>
</html>
