<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>FB Credibility</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" type="text/css" />
<script src="js/maxheight.js" type="text/javascript"></script>
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Kozuka_Gothic_Pro_OpenType_300.font.js" type="text/javascript"></script>
<script src="js/Kozuka_Gothic_Pro_OpenType_500.font.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png');</script>
<![endif]-->
</head>
<body id="page3">
<!-- START PAGE SOURCE -->
<div id="header" class="small">
  <div class="container">
    <div class="logo-box">
      <h1><a href="/"><strong>CloudObject</strong></a></h1>
      <h2>Cloud framework</h2>
    </div>
    <img src="{{ url_for('static', filename = 'images/small-model.png') }}" alt="" class="png extra-img"/> </div>
</div>
<div id="content">
  <div class="container">
    <div class="indent">
      <div class="wrapper">
        <div class="mainContent">
		    <div>How to use CloudObject</div>
		    <div>
		      CloudObject is a cloud framework. There are two operation include insert and find. Each operation will return in JSON message.
		    </div><p/>
		    <div>
		      <ul><h2>insert</h2></ul>
		      <ul>It is operation for insertion data. The url below is pattern of insert operation.</ul>
		      <ul>http://www.fbcredibility.com/cloudobject/{user}/insert/{object}?{param1}={param value}&{param2}={param value}</ul>
		      <ul>Insertion operation example of user1</ul>
		      <ul>
		         http://www.fbcredibility.com/cloudobject/user1/insert/student?name=jack&id=5555
		      </ul>
		      <ul>json result</ul>
		      <ul>{"status": 0, "description": "Complete insert"}</ul>
		    </div>
		    <div>
		      <ul><h2>find</h2></ul>
		      <ul>It is operation for finding data which you was add in CloudObject. User can find object by calling at below example url.</ul>
		      <ul>http://www.fbcredibility.com/cloudobject/{user}/find/{object}</ul>
		      <ul>Finding operation example for find student object of user1</ul>
		      <ul>
		      	http://www.fbcredibility.com/cloudobject/user1/find/student/
		      </ul>
		      <ul>result</ul>
		      <ul>
		      {"status": 0, "data": [{"id": 5555, "name": "jack"}], "description": "ok"}
		      </ul>
		    </div>
        </div>
        <div class="aside">
          <div class="box1">
            <div class="top">
              <div class="bottom">
                <div class="inner">
                	<ul>
                		<li>1. Share parking</li>
                		<li>usg01</li>
                	</ul>
                	<ul>
                		<li>2. Broad messageg</li>
                		<li>usg02</li>
                	</ul>
                	<ul>
                		<li>3. สบอยล์หนัง</li>
                		<li>usg03</li>
                	</ul>
                	<ul>
                		<li>4. เตะบอลกัน</li>
                		<li>usg04</li>
                	</ul>
                	<ul>
                		<li>5. แนะนำร้านตัดผม</li>
                		<li>usg05</li>
                	</ul>
                	<ul>
                		<li>6. สังคมการปลูกข้าว</li>
                		<li>usg06</li>
                	</ul>                	
                	<ul>
                		<li>7. บันทึกทางการเงิน</li>
                		<li>usg07</li>
                	</ul>
                	<ul>
                		<li>8. เล่นบาสกัน</li>
                		<li>usg08</li>
                	</ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="inside">
      <div class="wrapper">
        <div class="fleft"><a href="http://www.templatemonster.com/">Website template</a> designed by TemplateMonster.com&nbsp; &nbsp; &nbsp; <a href="http://www.templates.com/product/3d-models/">3D Models</a> provided by Templates.com</div>
        <div class="fright">Copyright - Type in your name here</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">Cufon.now();</script>
<!-- END PAGE SOURCE -->
</body>
</html>