<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>FB Credibility</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" type="text/css" />
<script src="js/maxheight.js" type="text/javascript"></script>
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Kozuka_Gothic_Pro_OpenType_300.font.js" type="text/javascript"></script>
<script src="js/Kozuka_Gothic_Pro_OpenType_500.font.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png');</script>
<![endif]-->
</head>
<body id="page1" onload="new ElementMaxHeight();">
<!-- START PAGE SOURCE -->
<div id="header">
  <div class="container">
  <!--
    <ul class="nav">
      <li class="item1"><a href="index.html" class="current">home</a></li>
      <li class="item2"><a href="about-us.html">about us</a></li>
      <li class="item3"><a href="articles.html">articles</a></li>
      <li class="item4"><a href="contact-us.html">contact us</a></li>
      <li class="item5"><a href="sitemap.html">site map</a></li>
    </ul>
    -->
    <div class="logo-box">
      <h1><a href="index.html"><strong>Facebook</strong> Credibility</a></h1>
      <h2>Mobile Web Information Systems</h2>
      <p>This research for measurementing credibility on Facebook.</p>
      <a href="#" class="button">Learn More</a> </div>
    <img src="{{ url_for('static', filename = 'images/big-model.png') }}" alt="" class="png extra-img"/> </div>
    
</div>
<div id="top-content">
  <div class="container">
    <div class="indent">
      <h2><span>Recent</span> Articles</h2>
      <div class="wrapper">
        <div class="col-1 maxheight">
          <div class="box maxheight">
            <div class="right-bot-corner maxheight">
              <div class="inner">          
                <div class="wrapper"> <img src="{{ url_for('static', filename='images/icon1.png') }}" alt="" class="img-indent png" />
                  <h5>About Research</h5>
                  This research for measurementing credibility on Facebook.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 maxheight">
          <div class="box maxheight">
            <div class="right-bot-corner maxheight">
              <div class="left-bot-corner maxheight">
                <div class="inner1">
                  <div class="wrapper"> <img src="{{ url_for('static', filename='images/icon2.png') }}" alt="" class="img-indent png" />
                    <h5>Machine learning</h5>
                    Deep learning
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 maxheight">
          <div class="box maxheight">
            <div class="left-bot-corner maxheight">
              <div class="inner1">
                <div class="wrapper"> <img src="{{ url_for('static', filename='images/icon3.png') }}" alt="" class="img-indent png" />
                  <h5>Social media Search Lab</h5>
                  Social media
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="indent">
      <div class="wrapper">
        <div class="mainContent">
          <h2><span>Paper</span> in this research</h2>
          <p>We are publish many research. This below is link for download paper.</p>
          <div class="wrapper">
            <ul class="single-row">
              <li><a href="http://ceur-ws.org/Vol-1312/jist2014pd_paper6.pdf">
              A Multi-Aspect Comparison and Evaluation on Thai Word Segmentation Programs</a>
			  </li>
			  <div>Chaluemwut Noyunsan, Choochart Haruechaiyasak, Seksan Poltree, Kanda Runapongsa Saikaew</div>
            </ul>          
          <!--
            <ul class="col-1">
              <li><a href="#">Sed ut perspiciatis unde omnis</a></li>
              <li><a href="#">Natus error luptatem accusantium</a></li>
              <li><a href="#">Doloremque laudantium rem</a></li>
              <li><a href="#">Eaque ipsa quae ab illo inventore</a></li>
            </ul>
            <ul class="col-2">
              <li><a href="#">Sed ut perspiciatis unde omn</a></li>
              <li><a href="#">Natus error luptatem accusantiumrt</a></li>
              <li><a href="#">Doloremque laudanti</a></li>
              <li><a href="#">Eaque ipsa quae ab illo inventore</a></li>
            </ul>
            -->
          </div>
          <!--
          This website template has several pages: <a href="index.html">Home</a>, <a href="about-us.html">About Us</a>, <a href="articles.html">Articles</a> (with <a href="article.html">Article page</a>), <a href="contact-us.html">Contact Us</a> (note that contact us form – doesn’t work), <a href="sitemap.html">Site Map</a>. 
          -->
          </div>
        <div class="aside">
          <div class="box1">
            <div class="top">
              <div class="bottom">
                <div class="inner">
                  <h3>Researcher</h3>
                  <ul class="img-list">                  
                    <li> <img src="{{ url_for('static', filename='images/kku/t.png') }}" alt="" />
                      <h4><strong>Kanda Runapongsa Saikaew</strong><br />
                        <a href="http://gear.kku.ac.th/~krunapon/">(Home page)</a></h4>
                      was born in Chiang Rai, Thailand, in 1975. He received the B.S. degree in electrical and computer engineering from Carnegie Mellon University, Pennsylvania, USA, in 1997, and the M.S. and Ph.D. degrees in computer science and engineering from the University of Michigan at Ann Arbor, in 1999 and 2003, respectively.
In 2003, she joined the Department of Computer Engineering, Khon Kaen University, as a Lecturer, and became an Assistant Professor in 2006.  Her current research interests include social network analysis.
                    <li class="last"> <img src="{{ url_for('static', filename='images/kku/chaluemwut.png') }}" alt="" />
                      <h4><strong>Chaluemwut Noyunsan</strong><br />
                        <a href="#">(Home page)</a></h4>
                        was born in Khon Kaen, Thailand, in 1981. He received the B.S. degree in computer engineering from Khon kaen University, Thailand, in 2003, and the M.S. degrees in computer science from Chulalongkorn University, Thailand, in 2009, respectively.
Currently, he is studying PhD degree in the Department of Computer Engineering, Khon Kaen University. He current research interests include social network analysis and information credibility measurement
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div id="footer">
  <div class="container">
    <div class="inside">
      <div class="wrapper">
        <div class="fleft"><a href="http://www.templatemonster.com/">Website template</a> designed by TemplateMonster.com&nbsp; &nbsp; &nbsp; <a href="http://www.templates.com/product/3d-models/">3D Models</a> provided by Templates.com</div>
        <div class="fright">Copyright - Type in your name here</div>
      </div>
    </div>
  </div>
</div>
-->
<script type="text/javascript">Cufon.now();</script>
<!-- END PAGE SOURCE -->
</body>
</html>
